{% extends "master.html.twig" %}

{% block title %}Register{% endblock %}

{% block addhead %}
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script>
            $(document).ready(function() {
                $("input[name=email]").keyup(function() {
                    var email = $("input[name=email]").val();
                    $("#emailTaken").load("/isemailregistered/" + email);
                });
            });
        </script>
{% endblock %}
        
{% block content %}



<section>
    <div class="container cont-space">
        <div class="form-container">
<form method="post">
    First Name: <span class="required">*</span>  <input type="text" name="firstName" value="{{v.firstName}}"><br><br>
    
    Last Name: <input type="text" name="lastName" value="{{v.lastName}}"><br><br>
    Company Name: <input type="text" name="companyName" value="{{v.companyName}}"><br><br>   
    


    Street Address: <span class="required">*</span> <input type="text" name="streetAddress" value="{{v.streetAddress}}"><br><br>
    Suite/Apt# <span class="required">*</span> <input type="text" name="suiteOrAptNo" value="{{v.suiteOrAptNo}}"><br><br>
    City: <span class="required">*</span> <input type="text" name="city" value="{{v.city}}"><br><br>
   
    Province:<span class="required">*</span> <input type="text" name="province" value="{{v.province}}"><br><br>
    Postal Code: <span class="required">*</span> <input type="text" name="postalCode" value="{{v.postalCode}}">  <br><br>  
    
    Phone: <span class="required">*</span> <input type="text" name="phone" value="{{v.phone}}"><br><br>   
 
    
    Email: <span class="required">*</span>  <input type="email" name="email1" value="{{v.email1}}">
                                                    
    <span class="error" id="emailTaken"></span><br><br>
    Confirm Email: <span class="required">*</span>  <input type="email" name="email2" 
                                                        value="{% if v.email1 == v.email2 %}{{v.email2}}{% endif %}" ><br><br>
    
    Password: <span class="required">*</span>  <input type="password" name="pass1"><br><br>
    Confirm Password:<span class="required">*</span>  <input type="password" name="pass2"><br><br>   
    
    <input type="submit" value="Register">
    
    {% if errorList %}    
    <ul class="error">
    {% for error in errorList %}
        <li>{{error}}</li>
    {% endfor %}
    </ul>
{% endif %}
</form>
        </div>
    </div>
</section>
{% endblock %}
